<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Kysymykset</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Kysymykset</h1>

        <ul>
            <li th:each="kysymys: ${kysymykset}">
                Kurssi: <span th:text="${kysymys.kurssi}">kurssin nimi</span>
                <br> Aihe: <span th:text="${kysymys.aihe}">kurssin aihe</span>
                <br> Tehtävä: <a th:href="${'/' + kysymys.id}"><span th:text="${kysymys.kysymysteksti}">kurssin kysymys</span></a>
                
            </li>
        </ul>
        
        <h3>Luo uusi kysymys</h3>
        
        <form method="POST" action="/">
            Kurssi:<input type="text" name="kurssi"/><br/>
            Aihe:<input type="text" name="aihe"/><br/>
            Kysymysteksti:<input type="text" name="kysymysteksti"/><br/>
            <input type="submit" value="Lisää tehtävä"/>
        </form>
        
        
    </body>
</html>
